@model NKSLK_CS.TaiKhoan


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/login.css" type="text/css" media="all" />
</head>

<body>
    <section class="w3l-login">
        <div class="overlay">
            <div class="wrapper">
                <div class="form-section">
                    <h3>Login</h3>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken();

                        <div class="form-input">
                            @Html.TextBoxFor(model => model.tendangnhap, new { @class = "form-control", @placeholder = "tendangnhap" })

                        </div>
                        <div class="form-input">
                            @Html.TextBoxFor(model => model.matkhau, new { @class = "form-control", @placeholder = "matkhau" })
                        </div>
                        <button type="submit" class="btn btn-primary theme-button mt-4">Log in</button>


                    }


                    <form action="#" method="post" class="signin-form">
                    </form>
                </div>
            </div>
        </div>
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
    </section>
</body>

</html>