@model IEnumerable<NKSLK_CS.CongNhan>

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="heading_btn">
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModalNew">New</button>
            </div>
            <h3 class="heading_title">Table</h3>
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Job Title</th>
                        <th>Date of Birth</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-expanded="true">
                        <td>1</td>
                        <td>Dennise</td>
                        <td>Fuhrman</td>
                        <td>High School History Teacher</td>
                        <td>July 25th 1960</td>
                        <td>
                            <i class="fa fa-wrench" data-toggle="modal" data-target="#myModalEdit"></i>
                            <i class="fa fa-trash" data-toggle="modal" data-target="#myModal"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Elodia</td>
                        <td>Weisz</td>
                        <td>Wallpaperer Helper</td>
                        <td>March 30th 1982</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Raeann</td>
                        <td>Haner</td>
                        <td>Internal Medicine Nurse Practitioner</td>
                        <td>February 26th 1966</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Junie</td>
                        <td>Landa</td>
                        <td>Offbearer</td>
                        <td>March 29th 1966</td>
                    </tr>
                    <tr data-expanded="true">
                        <td>1</td>
                        <td>Dennise</td>
                        <td>Fuhrman</td>
                        <td>High School History Teacher</td>
                        <td>July 25th 1960</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Elodia</td>
                        <td>Weisz</td>
                        <td>Wallpaperer Helper</td>
                        <td>March 30th 1982</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Raeann</td>
                        <td>Haner</td>
                        <td>Internal Medicine Nurse Practitioner</td>
                        <td>February 26th 1966</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Junie</td>
                        <td>Landa</td>
                        <td>Offbearer</td>
                        <td>March 29th 1966</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 25%">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Bạn có chắc chắn muốn xóa?</h5>
            </div>
            <div class="modal-footer">

                <form>
                    <button type="button" class="btn btn-danger">Xóa</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div id="myModalNew" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                Thêm mới công nhân
                            </header>
                            <div class="panel-body">
                                <form role="form" class="form-horizontal ">
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">sample 1</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" id="f-name" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">sample 2</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" id="f-name" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button type="button" class="btn btn-success">Thêm</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                Chỉnh sửa
                            </header>
                            <div class="panel-body">
                                <form role="form" class="form-horizontal ">
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">sample 1</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" id="f-name" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-lg-3 control-label">sample 2</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="" id="f-name" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-3 col-lg-6">
                                            <button type="button" class="btn btn-success">Cập nhật</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
