@model IEnumerable<NKSLK_CS.TKLuongSanPhamModel>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var rs = (List<NKSLK_CS.TKLuongSanPhamModel>)ViewBag.Inner;
}

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="heading_title">Thống kê lương sản phẩm</h3>
        </div>
        <div class="formSearch" style="margin-top: 10px; margin-right: 150px; margin-left: 150px; ">
            <form action="/ThongKeLuongs/Search" method="post">
                <div class="searchDetail" style="width: 40%;">
                    <select class="w3-select w3-border" name="category" required>
                        <option value="" disabled selected>Chọn chủ đề...</option>
                        <option value="1"> Thống kê theo tuần(mm/dd/yyyy) </option>
                        <option value="2"> Thống kê theo tháng </option>
                        <option value="3"> Tìm kiếm theo tên CN </option>
                    </select>
                </div>
                <div class="searchInput" style="width: 40%; float: right; display: flex; margin-top: -40px; ">
                    <input type="Text" class="form-control mx-sm-3" value="" name="searchString" placeholder="Nhập thông tin cần tìm">
                    <button type="submit" class="btn btn-outline-success" value="Search">Search</button>
                </div>
            </form>
        </div>
        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        Tên CN
                    </th>
                    <th>
                        Lương sản phẩm
                    </th>
                </tr>

                @foreach (var item in rs)
                {
                    <tr>
                        <td>
                            @item.id
                        </td>
                        <td>
                            @item.ten
                        </td>
                        <td>
                            @item.luongSanPham
                        </td>
                        <td>
                            <a href="/ThongKeLuongs/Details/@item.id" class="btn-large"><i class="fa fa-info"></i></a>
                        </td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>


